<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <form th:object="${mentor}">
        <lebel>First name:</lebel>
        <input type="text" id="FirstName" th:field="*{firstName}"><br>

        <label>Last name</label>
        <input type="text" id="LastName" th:field="*{lastName}"> <br>

        <label>Email: </label>
        <input type="email" id="email" th:field="*{email}"> <br>

        <label>Graduate: </label>
        <input type="checkbox" value="graduate" th:field="*{graduate}"> <br>


        <label>Graduate: </label>
        <input type="radio" value="Male" th:field="*{gender}">Male
        <input type="radio" value="Female" th:field="*{gender}">Female <br>

        <label>Batch Number:</label>
        <select th:field="*{batch}">
            <option th:each="theBatch : ${batchList}" th:value="${theBatch}" th:text="${theBatch}"></option>
        </select>

        <label>Company:</label>
        <textarea th:field="*{company}"></textarea>

        <button type="submit">Register</button>

    </form>
</div>
</body>
</html>